body{
	font: 1em Arial;
}
.container {
	background: #999;
	display: inline-block;
	width: 100px0px;
	height: 50px0px;
	font-size: 20px;
	color: green;
	font-style: italic;
} 
a {
    a:active
	background: #999;
	display: inline-block;	
}
. img w {
	display: block;
	margin: opx; 0px: 0px: 50px;
}